

button {
	margin: 1em;
	width: 90px;
	height: 40px;
	color: white;
	background-color: teal;
	border-radius: 2px;
	border: none;
	text-transform: uppercase;
	cursor: pointer;

	&:active {
		background-color: #006666;
	}

	&:disabled {
		background-color: rgba(0, 128, 128, 0.5);
		cursor: not-allowed;
	}
}

.app {
	padding: 1.5em;
	display: flex;
	flex-direction: column;

	.actions {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 2em;

		button {
			width: 300px;
		}
	}
}


.boards {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.board {
	background-color: black;
	border: 2px solid black;
	width: 450px;

	.row {
		margin-bottom: 0.5px;
		width: 100%;
		display: flex;
		flex-direction: row;
	}

	.cell {
		margin: 0 0.5px;
		background-color: white;
		width: 50px;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		&:hover {
			background-color: rgb(110, 206, 206);
		}

		input {
			width: 100%;
			height: 90%;
			border: 2px solid teal;
		}
	}
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 350px;
	height: 280px;
	border: 1px solid black;
	background-color: white;
	display: flex;
	flex-direction: column;;
	align-items: center;
	justify-content: center;
	box-shadow: 8px 8px 8px black;

	input {
		height: 25px;
		width: 100%;
	}

	small {
		color: red;
	}

	div:first-child {
		padding: 1em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}